@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
:root{
  --color-dark-mode: #16171d;
  --color-light-mode: #f1f2f6;
}
dl, ol, ul {
  margin-bottom: 0 !important;
}
ol, ul {
  padding-left: 0 !important;
}
img{
  width: 100%;
  height: auto;
  object-fit: cover;
}
#app {
  background: #dee1e2;
}
